.boxline {
    height: 100px;
    border: 1px solid black;
}

.boxes {
    width: 33%;
    float: right;
    height: 90px;
    border: 1px outset darksalmon;
}

.footer {
    margin-top: 20px;
}

img {
    box-shadow: 3px 3px 7px black;
    width: 300px;
    border-radius: 8px;
}

article {
    border: 1px solid black;
}

figcaption {
    border: 1px solid black;
    height: 500px;
}

.kep1 {
    float:left;
}

.kep2 {
    float:right;
}

li {
    float: left;
    margin: 10px;
    border: 1px solid black;
}

li a {
    margin: 14px;
    border: 1px solid black;
}

nav {
    border: 1px solid black;
    width: auto;
    height: 100px;
}